
block buttons

    .buttons

      form(method="post" action="fetch_picture")
        input.btn.btn-info.btn-lg.btn-block#today(name='today_picture' value="Today's Picture" type='submit')
        input.btn.btn-info.btn-lg.btn-block#random(name='random_picture' value="Random Picture" type='submit')
